


<html>
    <head>
        <meta charset="UTF-8">
        
        <!-- STYLESHEETS -->
       <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  -->
       <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/navigation.css">

    </head>
    <body>   

   <!-- <div> -->
<!-- The sidebar -->
<!-- <nav class="sidebar">
  <a href="/lecturer"><i class="fa fa-fw fa-university"></i> Home</a>
  <a href="/lecturer/class"><i class="fa fa-fw 	fa-mortar-board"></i> Class</a>
  <a href="/lecturer/reports"><i class="fa fa-fw fa-book"></i> Reports</a>
  <a href="/login"><i class="fa fa-fw fa-power-off"></i> Log out</a>
</nav>
</div> -->
<!-- here's another Bootstrap sidebar example: https://www.codeply.com/go/8ESO56VMns -->
<div class="wrapper container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
            <a href="/student"><i class="fa fa-fw fa-university"></i>Home</a><br>
            <a href="/student/class"><i class="fa fa-fw 	fa-mortar-board"></i>Class</a><br>
            <a href="/login"><i class="fa fa-fw fa-power-off"></i>Log Out</a>
        </div>

        <!-- /sidebar -->

       