<nav class="navbar navbar-expand-lg navbar-light bg-light static-top navbar-dark bg-dark">
				 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-toggler-icon"></span>
    </button> <a class="navbar-brand" href="#">DAS</a>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav">
            <li class="nav-item active">
                 <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Student</a>
                 <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/student">Student Home</a>
                   <div class="dropdown-divider">
                   </div> <a class="dropdown-item" href="/student/class">Class</a>                                               
               </div>
            </li>
            <li class="nav-item dropdown">
                 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Lecturer</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                     <a class="dropdown-item" href="/lecturer">Lec Home</a>
                    <div class="dropdown-divider">
                    </div> <a class="dropdown-item" href="/lecturer/class">Class</a>
                    <div class="dropdown-divider">
                    </div> <a class="dropdown-item" href="#">Report</a>                                                
                </div>
            </li>
        </ul>
        <!-- <form class="form-inline">
            <input class="form-control mr-sm-2" type="text"> 
            <button class="btn btn-primary my-2 my-sm-0" type="submit">
                Search
            </button>
        </form> -->
    </div>
</nav>