<html>

<head>
    <meta charset="UTF-8">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/navigation.css">

</head>

<body>


    <div class="wrapper container-fluid">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- sidebar -->
            <div class="col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
                <div class="p-2"> <a href="/student"><i class="fa fa-fw fa-university fa-lg"></i><span
                            class="collapse in hidden-xs-down">Home</span></a><br></div>
                <div class="p-2"> <a href="/student/class"><i class="fa fa-fw 	fa-mortar-board fa-lg"></i><span
                            class="collapse in hidden-xs-down">Class</span></a><br></div>
                <div class="p-2"><a href="/login"><i class="fa fa-sign-out fa-lg"></i><span
                            class="collapse in hidden-xs-down">Log Out</span></a></div>
            </div>