<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/navigation.css">
</head>

   <div>
<!-- The sidebar -->
<nav class="sidebar">
  <a href="/views/studentHome.ejs"><i class="fa fa-fw fa-university"></i> Home</a>
  <a href="/views/studentClass.ejs"><i class="fa fa-fw 	fa-mortar-board"></i> Class</a>
  <!-- <a href="#Reports"><i class="fa fa-fw fa-book"></i> Reports</a> -->
  <a href="/views/login.ejs"><i class="fa fa-fw fa-power-off"></i> Log out</a>
</nav>
</div>