<html>
    <head>
        <meta charset="UTF-8">
        
        <!-- STYLESHEETS -->
       <link rel="stylesheet" href="/stylesheet/bootstrap.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheet/navigation.css">

    </head>
    <body>   

  
<div class="wrapper container-fluid">
    <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="col-sm-3 col-xs-1 sidebar-offcanvas" id="sidebar">
            <div class="p-2"><a href="/lecturer" ><i class="fa  fa-university fa-lg"></i><span class="collapse in hidden-xs-down">Home</span></a><br></div>
            <div class="p-2"><a href="/lecturer/startClass" ><i class="fa fa-fw 	fa-mortar-board fa-lg"></i><span class="collapse in hidden-xs-down">Start Class</span></a><br></div>
             <div class="p-2"><a href="/lecturer/endClass" ><i class="fa fa-fw 	fa-mortar-board fa-lg"></i><span class="collapse in hidden-xs-down"> End Class</span></a><br></div>
           <div class="p-2"> <a href="/lecturer/reports"><i class="fa fa-fw 	fa-book fa-lg"></i><span class="collapse in hidden-xs-down">reports</span></a><br></div>
           <div class= "p-2"> <a href="/login" ><i class="fa fa-fw fa-power-off fa-lg"></i><span class="collapse in hidden-xs-down">Log Out</span></a></div>
        </div>

        <!-- /sidebar -->
       
                
               

       