

 div.main{
    width: 300px;
    height:550px; 
    background: rgba(121, 202, 121, 0.5);
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px ;
}

img{
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 100px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

h3{
    color: #27a465;
}

input{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-style:inherit;
}

/* login form */

 div.main2{
    width: 300px;
    height:500px; 
    background: rgba(121, 202, 121, 0.5);
	top: 55%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px ;
} 
img{
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 100px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}

h3{
    color: #27a465;
}

input{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-style:inherit;
}