

/* div.logo{
    background: #032f62;
} */

 div.main{
    width: 500px;
    height:530px; 
    background:#032f62;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px ;
}

img.avatar1{
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    /* border-bottom-style: solid; */
    border-color: #28a745;
    position: absolute;
    top: -50px;
    left: 200px;
}

            /* .tab-group1 {
            list-style: none;
            padding: 0;
            margin: 0 0 40px 0;
            } */

h3.h000-mktg{
    color: #ffffff;
}

form.signUp{
    padding-top: 50px;
}

input{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-style:inherit;
}

/* login form */

 div.main2{
    width: 500px;
    height:560px; 
    background:#032f62;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 30px 30px ;
} 
img.avatar2{
    height: 100px; 
    width: 100px; 
    border-radius: 50%;
    position: absolute;
    top: -70px;
    left: 200px;
}
form.login{
    padding-top:100px;
}

/* .tab-group2 {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  color: #28a745;
} */

h3.heading2{
    
    color:#ffffff;
}

input{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-style:inherit;
}
p{
    color: #ffffff;
}

