<%include partials/header%>

<head>
	<link rel="stylesheet" href="./stylesheet/dashboard.css">
</head>

<div><h1>DIGITAL ATTENDANCE SYSTEM</h1></div>

    <div class="dashboard">
        <p>
            <a href="/account" class="btn btn-block btn-primary btn-lg" type="button">STAFF</a>
        </p>
        <p>
            <a href="/account" class="btn btn-block btn-primary btn-lg" type="button">STUDENT</a>
        </p>
        <p><a href="/account" class="btn btn-block btn-primary btn-lg" type="button">ADMIN</a></p>
    </div>
        
 <!-- <div><%include partials/footer%></div> -->
