<% include partials/header %>
<% include partials/navigation %>

<head>
    <link rel="stylesheet" href="/stylesheet/class.css">
    <script type='text/javascript' src="/scripts/toggle.js"></script>
</head>

        <div class="col-sm-9 col-xs-11" id="main">
                <a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-lg"></i></a>
                <br>
                
               <h1 class="jumbotron jumbotron-fluid text-center">End Class</h1>
 
       
        <div class="classForm">
            <form action="" method="POST">
                
                   <div class="input-group ">
  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
  <div class="input-group-append">
    
    <span class="input-group-text" id="search"><button type="submit"><i class="fa fa-search "
        aria-hidden="true"></i></button></span>
  </div>
</div>
                        
                        
                    <!-- <div class="m-5 p-0">
                        <input type="text" class="form-control form-control-lg" name="search" id="searchUnit"
                                placeholder="Search Unit" aria-label="Search">
                                <a href="#" class="search_icon"><i class="fa fa-fa-search"></i></a>

                    </div>
                        -->
                            
                   </form>
                </div>

                
                    
            <div class="m-1 p-5">
                <center><button type="button" class="btn btn-success btn-lg " data-style="expand-left" id="secondbutton" >
                    End-Class
                </button></center>
                
                </div>
            

        </div>
  


<% include partials/footer %>