<% include partials/header %>
<% include partials/navigation %>



<div class="col-sm-9 col-xs-11" id="main">
    <a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-lg"></i></a>
    <br>


    <div class="jumbotron jumbotron-fluid text-center">
        <h1>End Class</h1>

        <br>
        <div class="classForm">
            <form action="" method="POST">
                <center>
                    <div class="form-group">
                        <label>Select a class to End</label>
                        <select onchange="alert('Class Selected')" id="select-single" style="width:70% !important;" placeholder="Choose one thing"
                            data-allow-clear="1">
                            <option disabled selected>-- select session --</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-success btn-lg " data-style="expand-left" id="secondbutton">
                        End-Class
                    </button>
                </center>

            </form>
        </div>

    </div>







</div>


<% include partials/footer %>