<% include partials/navigation %>

 <!-- main right col -->
        <div class="col-sm-9 col-xs-11" id="main">
                <a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-lg"></i></a>
                <br>
                

                <h3 class="jumbotron jumbotron-fluid text-center">
                        Welcome to the Digital Attendance System 
                        <p class="sub-title"> Lecturer's panel</p>
                    </h3>
                    <div class="row">
                    <div class="col-md-6">
                        <center><a href="/lecturer/class"><button type="button" class="btn btn-success btn-lg">CLASS</button></a>
                        </center></div>
                    <div class="col-md-6">
                        <center><a href="#"><button type="button" class="btn btn-lg btn-success ">REPORT</button></a>
                        </center>
                        </div>
                    </div>
        </div>
        <!-- /main -->
    </div>
</div>


<% include partials/footer %>