<% include partials/header%>
<head>
     <link rel="stylesheet" href="./stylesheet/sign.css">
    <link rel="stylesheet" href="./stylesheet/bootstrap.min.css">
    <script src="./scripts/signin.js"></script>
      
</head>

    <title> <%= title %> </title>



    <div class="container-fluid text-center">
    <div class="main2">
      <!-- <ul class="tab-group2">
        <li class="tab-active"><a href="/signup">Sign Up</a></li>
        <li class="tab"><a href="/login">Log In</a></li>
      </ul> -->
      <img src="./images/avatar.png" alt="Avatar" class="avatar2">


        <form action="login" class="login" method="post">
            <h3 class="heading2">Welcome</br>Back !</h3>

            <p><input type="email" class="form-control form-cotrol-lg input-block" class="emailbox2" name="email" placeholder="Insert e-mail" autocomplete='off' required></p>
            <p><input type="password" class="form-control form-cotrol-lg input-block" name="password" placeholder="Insert Password" ></p>
            <button class=" btn btn-success" type="submit">Log In</button>
        </form>
        


   </div>
  
  </div>