<% include partials/header%>
<head>
     <link rel="stylesheet" href="./stylesheet/sign.css">
    <link rel="stylesheet" href="./stylesheet/bootstrap.min.css">
    <script src="./scripts/signin.js"></script>
     <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>   -->
</head>

    <title> <%= title %> </title>



    <div class="container-fluid">
    <div class="main">
      <ul class="tab-group">
        <li class="tab active"><a href="/signup">Sign Up</a></li>
        <li class="tab"><a href="/login">Log In</a></li>
      </ul>
      <img src="./images/avatar.png" alt="Avatar" class="avatar">


        <form action="login" class="login" method="post">
            <h3>Welcome</br>Back !</h3>

            <p><input type="email" class="emailbox2" name="email" placeholder="Insert e-mail" autocomplete='off' required></p>
            <p><input type="password" name="password" placeholder="Insert Password" ></p>
            <button class=" btn btn-outline-success" type="submit">Log In</button>
        </form>
        


   </div>
  
  </div>