<% include partials/header %>
<% include partials/navigation%>

<div class="container">
    <div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <label for="category">Select Category</label>
                        <select class="select form-control" id="CategoryOfUnitsAttendance">
                            <option selected disabled> -- SELECT UNIT --</option>
                            <option value="english">ENGLISH</option>
                            <option value="swahili">KISWAHILI</option>
                        </select>
                </div>
        </div>
        <div class="col-md-8">
            <button class="btn btn-success btn-lg" type="button"><i  class="fa fa-print"></i> VIEW</button>
        </div>
    </div>
    

</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>








<%include partials/footer %>