<% include partials/header %>
<% include partials/navigation %>

    <div class="col-md-12">
        <h1><%= title %></h1><br>

        <div>            
            <table id="classesInSession" class="table">
                <thead>
                    <tr>
                        <th>
                                Classes in Session
                        </th>
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td>
                            <form action="/student/class" method="POST">
                                <select name="_id" >
                                    <option value="null">select unit to proceed</option>
                                    <% data.forEach(function(unit){ %>
                                        <option value=<%= unit._id  %> > <%= unit.unit %> </option>
                                    <% }) %>
                                </select>
                                <input type="text" name="student" placeholder="enter your adm number">
                                <input type="text" id="lat" name="latitude" ><input type="text" id="long" name="longitude">
                
                                <button type="submit" class="btn btn-lg btn-outline-secondary">Join-Class</button>
                            </form>
                        </td>
                    </tr>
                    
                </tbody>
            </table>    
        </div>
        
    </div>
    
<% include partials/footer %>