<% include partials/navigationStudent %>

<head>
    <link rel="stylesheet" href="/stylesheet/studentClass.css">
</head>

<div class="col-sm-8 col-xs-10" id="main">
    <a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-lg"></i></a><br>

    <div class="jumbotron jumbotron-fluid text-center">
        <h1>Join a class</h1>

        <div class="classForm">
            <form action="/student/class" method="POST">
                <div class="m-5 p-0">

                    <select name="_id" class="form-control form-control-lg input-block" required>

                        <% if(data.length>0){%>
                        <option selected disabled>Select unit to proceed</option>
                        <% data.forEach(function(unit){ 
                            <!-- Set Class End time as a variable -->
                            var ClassEndTime = unit.endTime;
                            <!-- If end time comes as an empty string, set it to zero 0 -->
                            if(ClassEndTime.length < 1 ){
                                ClassEndTime = 0; 
                            }
                            console.log(ClassEndTime)
                            %>
                        <% if (ClassEndTime===0) { %>
                        <option value= <%= unit._id  %>> <%= unit.unit %> </option>
                        <% }else{%>
                        <option disabled>No Active Classes</option>
                        <%}%>
                        <% })}else{ %>
                        <option disabled>There are no Lectures</option>
                        <%}
                         %>
                    </select>

                </div>
                <div class="m-5 p-0 ">
                    <p>
                        <input type="text" class="form-control form-control-lg" name="admNumber"
                            placeholder="Enter your adm number">
                    </p>
                </div>
                <div class="m-5 p-0">
                    <input type="text" id="lat" name="latitude" hidden>
                    <input type="text" id="long" name="longitude" hidden>
                </div>
        </div>

        <center> <button type="submit" class="btn btn-success btn-lg ">Join-Class</button></center>

        </form>
    </div>


</div>



<% include partials/footer %>