<% include partials/header %>
<% include partials/navigationStudent %>
<head>
    <link rel="stylesheet" href="/stylesheet/studentClass.css">
</head>
    <div class="container col-md-8"> 
       
        <div>            
            
                            <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Join a class</h1>

  </div>
</div>
                            <form action="/student/class" method="POST">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <select name="_id"  class="form-control form-cotrol-lg input-block" required  >
                                            <option value="null" >select unit to proceed</option>
                                            <% data.forEach(function(unit){ %>
                                            <option value=<%= unit._id  %> > <%= unit.unit %> </option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <input type="text" class="form-control" name="student" placeholder="enter your adm number">
                                        <input type="text" id="lat" name="latitude" hidden>
                                        <input type="text" id="long" name="longitude" hidden>
                                    </div>
                                </div>
                
                                <button type="submit" class="btn btn-success btn-lg ">Join-Class</button>
                            </form>
                        </td>
                    </tr>
                    
                </tbody>
            </table>    
        </div>
        
    </div>
    
<% include partials/footer %>