<% include partials/header %>
<% include partials/navigationStudent %>

    <div class="container-fluid col-md-8">
        <div class="row">
            <div class="col-md-12">

                <h3 class="text-center text-success">
                    WELCOME STUDENT!
                </h3> 
                <!-- <a href="/register-units"><button onclick="" type="button" class="btn btn-outline-primary btn-lg btn-block"></a>REGISTER UNITS</button></a>  -->
                <a href="/student/class"><button type="button" class="btn btn-outline-primary btn-lg btn-block">CLASS</button></a>
            </div>
        </div>
    </div>    

<% include partials/footer %>